apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  labels:
    app: web
spec:
  replicas: 4
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: web-image:latest 
        imagePullPolicy: Never 
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "64Mi"
            cpu: "200m"
