name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build backend Docker image
      run: |
        docker build ./backend \
          --file ./backend/Dockerfile \
          --tag my-backend:$(date +%s)

    - name: Build web Docker image
      run: |
        docker build ./web \
          --file ./web/Dockerfile \
          --tag my-web:$(date +%s)
